<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌇Horizon🌇</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>🌇 Horizon 🌇</h1>
        <div class="content">
            <div class="links-grid">
                {% for link in links %}
                <div class="link-item">
                    <img src="{{ link.icon }}" alt="{{ link.name }} icon">
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- Script placé à la fin pour éviter le blocage du chargement -->
    <script src="/static/js/scripts.js"></script>
</body>
</html>
